### First step: manipulate de DB

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
sqlitedb_path = '/home/jc/Escritorio/Proyectos_finales_ironhack/ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db'

In [3]:
engine = create_engine(f'sqlite:///{sqlitedb_path}')

In [4]:
# list all tables in database
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

In [5]:
# query one of 0,1,2 & 3
df_personal_info = pd.read_sql_query("select * from personal_info", engine)
country_info = pd.read_sql_query("select * from country_info", engine)
career_info = pd.read_sql_query("select * from career_info", engine)
poll_info = pd.read_sql_query("select * from poll_info", engine)

In [6]:
print(len(df_personal_info))
print(len(country_info))
print(len(career_info))
print(len(poll_info))

9649
9649
9649
9649

In [7]:
#Letś do a merge to have a unique dataset

df_personal_info
country_info
career_info
poll_info

a = df_personal_info.merge(country_info, left_on='uuid', right_on='uuid')
b = a.merge(career_info, left_on='uuid', right_on='uuid')
final_sql= b.merge(poll_info, left_on='uuid', right_on='uuid')

In [8]:
final_sql.head()

,uuid,age,gender,dem_has_children,age_group,country_code,rural,dem_education_level,dem_full_time_job,normalized_job_code,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65,AT,countryside,no,no,None,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65,AT,urban,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39,AT,city,None,no,None,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65,AT,Country,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65,AT,city,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

In [9]:
#letś save the file from the sql

import os

mainpath = "/home/jc/Escritorio/Proyectos_finales_ironhack/ih_datamadpt0420_project_m1/data/raw"
filename= "download_sql"
fullpath= os.path.join(mainpath,filename)
final_sql.to_csv(fullpath+ ".csv", index=False)

### Second step : extraction from the API

In [10]:
import requests
import pandas as pd

final_sql = pd.read_csv("/home/jc/Escritorio/Proyectos_finales_ironhack/ih_datamadpt0420_project_m1/data/raw/download_sql.csv")


response = requests.get('http://api.dataatwork.org/v1/jobs?limit=600') #saco el máximo de jobs
json_data = response.json()
#letś save the file from the sql

import os

mainpath = "/home/jc/Escritorio/Proyectos_finales_ironhack/ih_datamadpt0420_project_m1/data/raw"
filename= "download_sql"
fullpath= os.path.join(mainpath,filename)
final_sql.to_csv(fullpath+ ".csv", index=False)
json_data[0:3]

len(json_data) #tenemos un maximo de 500 que es lo que nos permite

501

In [11]:
# we need to extract the jobs description from another API, that api requires an input

norm_job_codes = final_sql['normalized_job_code'].unique().tolist()
norm_job_dic = {}

In [12]:
norm_job_dic

{}

In [13]:
#  we create a loop to iterate all the dic values

for i in norm_job_codes[1:]: #to prevent errors , let's skip none and then we will add it. You can write a  if error pass.
    response = requests.get(f'http://api.dataatwork.org/v1/jobs/{i}')
    norm_job_dic[i] = (response.json())['normalized_job_title']
norm_job_dic['none'] = 'none' # adding the none

In [14]:
pd.DataFrame(norm_job_dic.items()) # extract the dic values to create a dataframe
job_codes = pd.DataFrame(norm_job_dic.items(), columns=['normalized_job_code', 'normalized_job_title'])
job_codes.head()

                normalized_job_code               normalized_job_title
0  861a9b9151e11362eb3c77ca914172d0  automatic data processing planner
1  049a3f3a2b5f85cb2971ba77ad66e10c                   data coordinator
2  f4b2fb1aa40f661488e2782b6d57ad2f                 database developer
3  27af8700f5577cec835acee2cb90a2ff              data entry specialist
4  c1b670eba9ccb65e7c99f7da116d5b9c                 database architect

In [15]:
job_codes.describe()

                     normalized_job_code   normalized_job_title
count                                157                    157
unique                               157                    157
top     b9a57264eaada670703db113483ddfc3  data entry specialist
freq                                   1                      1

In [16]:
job_codes.columns.values.tolist() # check if the columns were correctly saved

['normalized_job_code', 'normalized_job_title']

In [17]:
# Let's add that new info to our dataframe and save it as csv

final_dataset = final_sql.merge(job_codes, left_on='normalized_job_code', right_on='normalized_job_code')

In [18]:
import os
mainpath = "/home/jc/Escritorio/Proyectos_finales_ironhack/ih_datamadpt0420_project_m1/data/raw"
filename= "final_dataset"
fullpath= os.path.join(mainpath,filename)
final_dataset.to_csv(fullpath+ ".csv", index=False)

### Scrapping Eurostat

In [19]:
final_dataset = pd.read_csv("/home/jc/Escritorio/Proyectos_finales_ironhack/ih_datamadpt0420_project_m1/data/raw/final_dataset.csv")

In [20]:
final_dataset.head() # the key is country_code

,uuid,age,gender,dem_has_children,age_group,country_code,rural,dem_education_level,dem_full_time_job,normalized_job_code,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst,normalized_job_title
0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65,AT,urban,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,automatic data processing planner
1,cf24ed60-da3f-0133-0034-0a81e8b09a82,48 years old,FeMale,NO,40_65,AT,Country,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs...,None of the above,automatic data processing planner
2,9ffc7390-dba5-0133-259b-0a81e8b09a82,43 years old,male,YES,40_65,BE,Country,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs...,It increases dependence on the state,automatic data processing planner
3,a6361230-da58-0133-cd5a-0a81e8b09a82,43 years old,Male,yES,40_65,BE,urban,medium,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would probably vote against it,A basic income would not affect my work choices,None of the above,Only the people who need it most should get so...,automatic data processing planner
4,1e2b4750-d987-0133-3c7c-0a81e8b09a82,52 years old,female,YES,40_65,BG,urban,high,yes,861a9b9151e11362eb3c77ca914172d0,I have heard just a little about it,I would probably vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs,It might encourage people to stop working,automatic data processing planner

In [21]:
import requests

url = 'https://ec.europa.eu/eurostat/statistics-explained/index.php/Glossary:Country_codes'
html = requests.get(url).content
html[:500]

b'\xef\xbb\xbf<!DOCTYPE html>\n<html lang="en" dir="ltr" class="client-nojs">\n<head>\n<meta http-equiv="X-UA-Compatible" content="Ie=Edge,chrome=1"/> <meta charset="UTF-8" /><title>Glossary:Country codes - Statistics Explained</title>\n<meta name="generator" content="MediaWiki 1.22.5" />\n<link rel="shortcut icon" href="https://ec.europa.eu/eurostat/estat-theme/images/favicon.ico" />\n<link rel="search" type="application/opensearchdescription+xml" href="/eurostat/statistics-explained/opensearch_desc.php" title='

In [22]:
from bs4 import BeautifulSoup

# lxml is the parsing module
soup = BeautifulSoup(html, 'lxml')
table = soup.find_all('td')

In [23]:
table = list(table)

import re

CLEAN = re.compile('\s+()')

table = [CLEAN.sub(' ', a.text).strip() for a in table]

In [24]:
import re

CLEAN = re.compile('[\s+()]')

table = [CLEAN.sub(' ', a.text).strip() for a in table]

In [25]:
len(table)

175

In [26]:
table= list(table)

In [27]:
for i in table: #iterable to eliminate blanks
    if i == "": 
        table.remove(i)

In [28]:
for i in table:
    if i == "": 
        table.remove(i)

In [29]:
len(table)

144

In [30]:
type(table)

list

In [31]:
table.append("Great Britain")
table.append("GB")
table.append("Greece")
table.append("GR")

In [32]:
def particionar_lista(table,n):
    return([table[i*n:i*n+n] for i in range (len(table))])

In [33]:
table_function = particionar_lista(table,2)

In [34]:
print(table_function)

[['Belgium', 'BE'], ['Greece', 'EL'], ['Lithuania', 'LT'], ['Portugal', 'PT'], ['Bulgaria', 'BG'], ['Spain', 'ES'], ['Luxembourg', 'LU'], ['Romania', 'RO'], ['Czechia', 'CZ'], ['France', 'FR'], ['Hungary', 'HU'], ['Slovenia', 'SI'], ['Denmark', 'DK'], ['Croatia', 'HR'], ['Malta', 'MT'], ['Slovakia', 'SK'], ['Germany', 'DE'], ['Italy', 'IT'], ['Netherlands', 'NL'], ['Finland', 'FI'], ['Estonia', 'EE'], ['Cyprus', 'CY'], ['Austria', 'AT'], ['Sweden', 'SE'], ['Ireland', 'IE'], ['Latvia', 'LV'], ['Poland', 'PL'], ['United Kingdom', 'UK'], ['Iceland', 'IS'], ['Norway', 'NO'], ['Liechtenstein', 'LI'], ['Switzerland', 'CH'], ['Montenegro', 'ME'], ['North Macedonia', 'MK'], ['Albania', 'AL'], ['Serbia', 'RS'], ['Turkey', 'TR'], ['Bosnia and Herzegovina', 'BA'], ['Kosovo*[1]', 'XK[2]'], ['Armenia', 'AM'], ['Belarus', 'BY'], ['Georgia', 'GE'], ['Azerbaijan', 'AZ'], ['Moldova', 'MD'], ['Ukraine', 'UA'], ['Algeria', 'DZ'], ['Lebanon', 'LB'], ['Syria', 'SY'], ['Egypt', 'EG'], ['Libya', 'LY'], ['Tunisia', 'TN'], ['Israel', 'IL'], ['Morocco', 'MA'], ['Jordan', 'JO'], ['Palestine* [3]', 'PS'], ['Russia', 'RU'], ['Argentina', 'AR'], ['China  except Hong Kong', 'CN_X_HK'], ['Mexico', 'MX'], ['South Africa', 'ZA'], ['Australia', 'AU'], ['Hong Kong', 'HK'], ['Nigeria', 'NG'], ['South Korea', 'KR'], ['Brazil', 'BR'], ['India', 'IN'], ['New Zealand', 'NZ'], ['Taiwan', 'TW'], ['Canada', 'CA'], ['Japan', 'JP'], ['Singapore', 'SG'], ['United States', 'US'], ['Great Britain', 'GB'], ['Greece', 'GR'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]

In [35]:
type(table_function)

list

In [36]:
df = pd.DataFrame(table_function , columns=["country","country_code"])

In [37]:
df.head()

     country country_code
0    Belgium           BE
1     Greece           EL
2  Lithuania           LT
3   Portugal           PT
4   Bulgaria           BG

In [38]:
df = df.dropna() #drop the Nan

In [39]:
df_scrap = df[["country_code","country"]] #reorder the dataframe for the join

In [40]:
df_scrap = df_scrap['country'].replace('Great Britain', 'United Kingdom')

In [41]:
final_dataset.head(3)

,uuid,age,gender,dem_has_children,age_group,country_code,rural,dem_education_level,dem_full_time_job,normalized_job_code,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst,normalized_job_title
0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65,AT,urban,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,automatic data processing planner
1,cf24ed60-da3f-0133-0034-0a81e8b09a82,48 years old,FeMale,NO,40_65,AT,Country,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs...,None of the above,automatic data processing planner
2,9ffc7390-dba5-0133-259b-0a81e8b09a82,43 years old,male,YES,40_65,BE,Country,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs...,It increases dependence on the state,automatic data processing planner

In [43]:
df_scrap = df[["country_code","country"]]

In [44]:
final_dataset_raw = pd.merge( final_dataset , df_scrap , how = 'left' , on = 'country_code')

In [45]:
final_dataset_raw.head(3)

,uuid,age,gender,dem_has_children,age_group,country_code,rural,dem_education_level,dem_full_time_job,normalized_job_code,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst,normalized_job_title,country
0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65,AT,urban,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,automatic data processing planner,Austria
1,cf24ed60-da3f-0133-0034-0a81e8b09a82,48 years old,FeMale,NO,40_65,AT,Country,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs...,None of the above,automatic data processing planner,Austria
2,9ffc7390-dba5-0133-259b-0a81e8b09a82,43 years old,male,YES,40_65,BE,Country,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs...,It increases dependence on the state,automatic data processing planner,Belgium

In [46]:
import os
mainpath = "/home/jc/Escritorio/Proyectos_finales_ironhack/ih_datamadpt0420_project_m1/data/raw"
filename= "final_dataset_raw"
fullpath= os.path.join(mainpath,filename)
final_dataset_raw.to_csv(fullpath+ ".csv", index=False)

### Data Wrangling

In [47]:
final_dataset_raw.head()

,uuid,age,gender,dem_has_children,age_group,country_code,rural,dem_education_level,dem_full_time_job,normalized_job_code,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst,normalized_job_title,country
0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65,AT,urban,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,automatic data processing planner,Austria
1,cf24ed60-da3f-0133-0034-0a81e8b09a82,48 years old,FeMale,NO,40_65,AT,Country,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs...,None of the above,automatic data processing planner,Austria
2,9ffc7390-dba5-0133-259b-0a81e8b09a82,43 years old,male,YES,40_65,BE,Country,high,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs...,It increases dependence on the state,automatic data processing planner,Belgium
3,a6361230-da58-0133-cd5a-0a81e8b09a82,43 years old,Male,yES,40_65,BE,urban,medium,yes,861a9b9151e11362eb3c77ca914172d0,I understand it fully,I would probably vote against it,A basic income would not affect my work choices,None of the above,Only the people who need it most should get so...,automatic data processing planner,Belgium
4,1e2b4750-d987-0133-3c7c-0a81e8b09a82,52 years old,female,YES,40_65,BG,urban,high,yes,861a9b9151e11362eb3c77ca914172d0,I have heard just a little about it,I would probably vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs,It might encourage people to stop working,automatic data processing planner,Bulgaria

In [48]:
final_dataset_raw.rural.unique() #let ś understand the data inside the rural column

array(['urban', 'Country', 'Non-Rural', 'city', 'rural', 'countryside'],
      dtype=object)

In [49]:
final_dataset_raw = final_dataset_raw.replace({"urban" :"City", "Country":"Rural","Non-Rural":"City","rural":"Rural","countryside":"Rural" , "city":"City" }) # homogenise the data into two main categories

In [50]:
final_dataset_raw.rural.unique() #check

array(['City', 'Rural'], dtype=object)

In [51]:
final_dataset_def  =final_dataset_raw[["country", "normalized_job_title", "rural", "uuid"]]

In [52]:
import os
mainpath = "/home/jc/Escritorio/Proyectos_finales_ironhack/ih_datamadpt0420_project_m1/data/raw"
filename= "final_dataset_def"
fullpath= os.path.join(mainpath,filename)
final_dataset_def.to_csv(fullpath+ ".csv", index=False)

In [53]:
final_dataset_def =  final_dataset_def.rename(columns = {"country" : "Country" , "normalized_job_title" : "Job Title" , "rural" :"Rural"})

final_dataset_def[400:500]

,Country,Job Title,Rural,uuid
400,Netherlands,data communications software consultant,City,f049ae50-d99c-0133-912a-0a81e8b09a82
401,Poland,data communications software consultant,Rural,253ef120-da42-0133-5d8b-0a81e8b09a82
402,Poland,data communications software consultant,City,99ca0480-d9ad-0133-8bcc-0a81e8b09a82
403,Poland,data communications software consultant,City,09f73280-dbb9-0133-5594-0a81e8b09a82
404,Poland,data communications software consultant,City,363bda60-da0d-0133-2b51-0a81e8b09a82
405,Poland,data communications software consultant,City,d7776130-db2c-0133-d705-0a81e8b09a82
406,Poland,data communications software consultant,City,d8e01c40-dd49-0133-3eb3-0a81e8b09a82
407,Portugal,data communications software consultant,City,db7bbe80-d909-0133-d321-0a81e8b09a82
408,Portugal,data communications software consultant,City,4a642fb0-d96c-0133-1b40-0a81e8b09a82
409,Portugal,data communications software consultant,City,53b71570-d8dd-0133-5bb9-0a81e8b09a82
410,Portugal,data communications software consultant,City,3de3e680-da6e-0133-e129-0a81e8b09a82
411,Portugal,data communications software consultant,City,ced0a890-d8c4-0133-8579-0a81e8b09a82
412,Romania,data communications software consultant,City,a6e1b870-d99b-0133-5c1e-0a81e8b09a82
413,Sweden,data communications software consultant,City,089a99d0-dcc6-0133-c09d-0a81e8b09a82
414,Slovenia,data communications software consultant,Rural,5a517e40-dca1-0133-d311-0a81e8b09a82
415,Austria,data security analyst,City,960b1ce0-db01-0133-528c-0a81e8b09a82
416,Austria,data security analyst,Rural,b98bbaf0-d96e-0133-06ef-0a81e8b09a82
417,Belgium,data security analyst,City,7bfa9de0-dd4a-0133-40d2-0a81e8b09a82
418,Belgium,data security analyst,Rural,a04028b0-dcb8-0133-eff5-0a81e8b09a82
419,Bulgaria,data security analyst,City,cb8499d0-d9a2-0133-adac-0a81e8b09a82
420,Czechia,data security analyst,City,1b8d42c0-da3f-0133-c05a-0a81e8b09a82
421,Czechia,data security analyst,City,903c63f0-d8d2-0133-5d68-0a81e8b09a82
422,Germany,data security analyst,City,895abed0-da1b-0133-ec7f-0a81e8b09a82
423,Germany,data security analyst,City,3401e200-da8b-0133-56dd-0a81e8b09a82
424,Germany,data security analyst,Rural,cf626f70-db8a-0133-d437-0a81e8b09a82
425,Germany,data security analyst,City,e6ce9d00-dd3d-0133-8c22-0a81e8b09a82
426,Germany,data security analyst,City,4912ffc0-d983-0133-7a20-0a81e8b09a82
427,Germany,data security analyst,Rural,1a19a140-da53-0133-bcb4-0a81e8b09a82
428,Germany,data security analyst,City,9faf8610-dc1d-0133-d75a-0a81e8b09a82
429,Germany,data security analyst,City,ba96e3d0-d9f1-0133-2f4e-0a81e8b09a82
...,...,...,...,...
470,Poland,data security analyst,City,f9e5f7f0-da39-0133-d9fa-0a81e8b09a82
471,Poland,data security analyst,City,8156fd60-d9a3-0133-7343-0a81e8b09a82
472,Poland,data security analyst,City,cb024b80-d97a-0133-59a5-0a81e8b09a82
473,Poland,data security analyst,City,be7354f0-da66-0133-ab1b-0a81e8b09a82
474,Poland,data security analyst,Rural,b881f7a0-dbe0-0133-49ab-0a81e8b09a82
475,Poland,data security analyst,City,7abc3490-d975-0133-3906-0a81e8b09a82
476,Poland,data security analyst,City,c329baa0-daf7-0133-955c-0a81e8b09a82
477,Poland,data security analyst,City,24037e30-d97c-0133-0741-0a81e8b09a82
478,Poland,data security analyst,City,ff7b5140-da3c-0133-c488-0a81e8b09a82
479,Portugal,data security analyst,City,ec2ba8f0-dcb5-0133-8a62-0a81e8b09a82
480,Portugal,data security analyst,City,ac159d50-d981-0133-f77c-0a81e8b09a82
481,Portugal,data security analyst,City,c012da50-d8ca-0133-5c43-0a81e8b09a82
482,Portugal,data security analyst,City,7e8cdbd0-d9c6-0133-931b-0a81e8b09a82
483,Romania,data security analyst,Rural,132cfbf0-d99a-0133-1a73-0a81e8b09a82
484,Romania,data security analyst,City,d62ab890-dcbb-0133-185c-0a81e8b09a82
485,Romania,data security analyst,City,6d648410-d93d-0133-c03d-0a81e8b09a82
486,Romania,data security analyst,City,8ee4f070-d93a-0133-bc96-0a81e8b09a82
487,Romania,data security analyst,City,40999e20-d9a8-0133-d0b6-0a81e8b09a82
488,Sweden,data security analyst,City,1c1759d0-dcca-0133-2839-0a81e8b09a82
489,Slovakia,data security analyst,Rural,e360ea00-dc06-0133-e52c-0a81e8b09a82
490,Slovakia,data security analyst,Rural,8a157220-da38-0133-48e8-0a81e8b09a82
491,Slovakia,data security analyst,Rural,b3375cf0-d9b3-0133-2d96-0a81e8b09a82
492,Austria,database marketing analyst,Rural,a96ed910-de55-0133-2582-0a81e8b09a82
493,Belgium,database marketing analyst,Rural,d73155f0-d9ba-0133-fe9f-0a81e8b09a82
494,Belgium,database marketing analyst,City,c75ffdb0-d95d-0133-765b-0a81e8b09a82
495,Czechia,database marketing analyst,City,7e5f95e0-d9b4-0133-d2e2-0a81e8b09a82
496,Germany,database marketing analyst,City,d129d530-db58-0133-fe1b-0a81e8b09a82
497,Germany,database marketing analyst,Rural,a6086e10-da2d-0133-81c1-0a81e8b09a82
498,Germany,database marketing analyst,City,162fbec0-dce4-0133-d5c7-0a81e8b09a82
499,Germany,database marketing analyst,Rural,523511b0-dd70-0133-03fc-0a81e8b09a82

In [54]:
df = final_dataset_def.groupby(["Country", "Job Title", "Rural"]).size().reset_index(name="Quantity")

In [55]:
df.head(10)

   Country                                          Job Title  Rural  Quantity
0  Austria  automatic data processing customer liaison adp...   City         1
1  Austria  automatic data processing customer liaison adp...  Rural         1
2  Austria                  automatic data processing planner   City         1
3  Austria                  automatic data processing planner  Rural         1
4  Austria  automatic data processing systems security spe...   City         1
5  Austria  automatic data processing systems security spe...  Rural         1
6  Austria                           clinical data specialist  Rural         1
7  Austria     computer or data processing systems consultant   City         2
8  Austria     computer or data processing systems consultant  Rural         1
9  Austria                              crime data specialist   City         1

In [56]:
df["Percentage"] = df["Quantity"] / len(df) *100 
df["Percentage"]  = df["Percentage"].round(5)

df["Percentage"].max()

0.53987

In [57]:
most_demanded_jobs = df.sort_values(by = "Percentage" , ascending= False )

In [58]:
most_demanded_jobs.head(10)

,Country,Job Title,Rural,Quantity,Percentage
749,Germany,data officer,City,13,0.53987
1058,Great Britain,database tester,City,12,0.49834
1395,Italy,data modeling specialist,City,12,0.49834
1392,Italy,data miner,City,12,0.49834
816,Germany,database consultant,City,12,0.49834
542,France,data modeling specialist,City,12,0.49834
1849,Poland,geographic information systems data specialist...,City,11,0.45681
829,Germany,database management system specialist dbms spe...,City,11,0.45681
1775,Poland,data storage specialist,City,11,0.45681
1418,Italy,data scientist,City,11,0.45681

In [59]:
df.head(12)

,Country,Job Title,Rural,Quantity,Percentage
0,Austria,automatic data processing customer liaison adp...,City,1,0.04153
1,Austria,automatic data processing customer liaison adp...,Rural,1,0.04153
2,Austria,automatic data processing planner,City,1,0.04153
3,Austria,automatic data processing planner,Rural,1,0.04153
4,Austria,automatic data processing systems security spe...,City,1,0.04153
5,Austria,automatic data processing systems security spe...,Rural,1,0.04153
6,Austria,clinical data specialist,Rural,1,0.04153
7,Austria,computer or data processing systems consultant,City,2,0.08306
8,Austria,computer or data processing systems consultant,Rural,1,0.04153
9,Austria,crime data specialist,City,1,0.04153
10,Austria,data administrator,Rural,1,0.04153
11,Austria,data base design analyst,City,1,0.04153

In [60]:
for i in df["Percentage"]:  #loop to convert the number to string
      df["Percentage"] = str(i) + "%"

In [61]:
df.head(5)

,Country,Job Title,Rural,Quantity,Percentage
0,Austria,automatic data processing customer liaison adp...,City,1,0.04153%
1,Austria,automatic data processing customer liaison adp...,Rural,1,0.04153%
2,Austria,automatic data processing planner,City,1,0.04153%
3,Austria,automatic data processing planner,Rural,1,0.04153%
4,Austria,automatic data processing systems security spe...,City,1,0.04153%

In [62]:
mainpath = "/home/jc/Escritorio/Proyectos_finales_ironhack/ih_datamadpt0420_project_m1/data/raw"
filename= "most_demanded_jobs"
fullpath= os.path.join(mainpath,filename)
most_demanded_jobs.to_csv(fullpath+ ".csv", index=False)

In [63]:
mainpath = "/home/jc/Escritorio/Proyectos_finales_ironhack/ih_datamadpt0420_project_m1/data/raw"
filename= "df_for_visualisation"
fullpath= os.path.join(mainpath,filename)
df.to_csv(fullpath+ ".csv", index=False)

In [64]:
test = pd.read_csv("/home/jc/Escritorio/Proyectos_finales_ironhack/ih_datamadpt0420_project_m1/data/raw/df_for_visualisation.csv")

In [65]:
test.tail()

,Country,Job Title,Rural,Quantity,Percentage
2403,Sweden,head of information systems and data processing,City,1,0.04153%
2404,Sweden,naval tactical data systemcombat information c...,City,1,0.04153%
2405,Sweden,oracle database administrator oracle dba,City,1,0.04153%
2406,Sweden,sql database administrator,Rural,1,0.04153%
2407,Sweden,survey data technician,City,1,0.04153%